{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-01-22 09:59:20
#}

<ul>
	<li><a href="{{ path('azimut_mediacenter_dev_form_media') }}">Media form demo</a></li>
	<li><a href="{{ path('azimut_mediacenter_dev_form_media_simple') }}">Media simple form demo</a></li>
	<li><a href="{{ path('azimut_mediacenter_dev_form_media_with_one_declination') }}">Media form with one declination demo</a></li>
	<li><a href="{{ path('azimut_mediacenter_dev_form_media_with_declinations') }}">Media form with declinations demo</a></li>
	<li><a href="{{ path('azimut_mediacenter_dev_form_media_declination') }}">Media declination form demo</a></li>
</ul>
