{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:    2016-11-09 15:59:57
#}

{% if zone.filters|length > 0 %}
    {% set indexesFilters = [] %}
    {% set contentFilters = [] %}

    {% for filter in zone.filters %}
        {% if filter.operation == constant('Azimut\\Bundle\\FrontofficeBundle\\Entity\\ZoneFilter::BEGIN_WITH_FIRST_LETTER') %}
            {% set indexesFilters = indexesFilters|merge([filter]) %}
        {% else %}
            {% set contentFilters = contentFilters|merge([filter]) %}
        {% endif %}
    {% endfor %}

    <div class="text-center">
        {% if contentFilters|length > 0 %}
            <form name="filter" method="GET" action="" class="form-inline">
                {% for filter in contentFilters %}
                    <div class="form-group">
                        <label class="sr-only" for="filter{{ filter.name|capitalize }}">{{ filter.label|trans|humanize }}</label>
                        <input type="text" id="{{ filter.name }}" for="filter{{ filter.name|capitalize }}" name="{{ filter.name }}" class="form-control" placeholder="{{ filter.label|trans|humanize }}" value="{{ requestQuery.get(filter.name)?? '' }}" />
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-default" value="{{ 'filter'|trans|capitalize }}" />
            </form>
        {% endif %}

        {% for filter in indexesFilters %}
            {{ filter.label|trans|humanize }}
            <div class="btn-group">
                {% for letter in 'a'..'z' %}
                    <a href="?{{ filter.name }}={{ letter }}" class="btn {% if requestQuery.get(filter.name) == letter %}btn-primary{% else %}btn-default{% endif %}">{{ letter }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endif %}
