{% extends "AzimutSecurityBundle::layout.html.twig" %}

{% block user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-user"></span> Connexion </h1>

            <form action="{{ path("azimut_security_login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="email">{{ 'security.login.email'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
    </div>
</div>
{% endblock user_content %}
