{% set hasCollapsableTopPanel = true %}
{% set hasFooterPanel = true %}
{% set clients = entities %}
{% extends "@AzimutMontgolfiereApp/Backoffice/base.html.twig" %}
{% block header %}
    <div class="left"><h3>{{ 'montgolfiere.backoffice.clients.list.clients_list'|trans }}</h3></div>
    <div class="right">
        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_create') }}">
            <i class="glyphicon glyphicon-plus"></i> {{ "montgolfiere.backoffice.clients.list.new_client"|trans }}
        </a>
    </div>
{% endblock %}

{% block collapsablePanel %}
    {% form_theme filterForm "@AzimutMontgolfiereApp/Backoffice/form_style.html.twig" %}
    {{ form(filterForm) }}
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ 'montgolfiere.backoffice.clients.fields.corporate_name'|trans }} ({{ 'montgolfiere.backoffice.clients.fields.trading_name_if_applicable'|trans }})</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.client_type'|trans }}</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.postal_address'|trans }}</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.workforce'|trans }}</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.activity'|trans }}</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.NAF_code'|trans }}</th>
                <th>{{ 'montgolfiere.backoffice.clients.fields.turnover'|trans }}</th>
                <th class="icon-column"></th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_read', {slug: client.slug}) }}"><strong>{{ client.corporateName }}</strong></a>
                        {% if client.tradingName %} ({{ client.tradingName }}){% endif %}
                    </td>
                    <td>{{ ('montgolfiere.backoffice.clients.fields.client_type_values.'~client.clientStatus)|trans }}</td>
                    <td>
                        {{ client.postalAddress.city }}
                        {% if client.postalAddress.postalCode %} ({{ client.postalAddress.postalCode }}){% endif %}
                        {% if client.postalAddress.country and client.postalAddress.country != 'FR' %}- {{ client.postalAddress.countryName }}{% endif %}
                    </td>
                    <td>{{ client.workforce }}</td>
                    <td>{{ client.activity }}</td>
                    <td>{{ client.nAFCode }}</td>
                    <td>{{ client.turnover|number_format(0, ',', ' ') }} €</td>
                    <td class="icon-column">
                        {{ form(deleteForms[client.id]) }}
                        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_impersonate', {slug: client.slug}) }}" target="_blank">
                            <i class="glyphicon glyphicon-pro glyphicon-pro-user-key" data-toggle="tooltip" title="{{ 'montgolfiere.backoffice.clients.read.connect_to_client_area'|trans }}"></i>
                        </a>
                        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_read', {slug: client.slug}) }}"><i class="glyphicon glyphicon-pro glyphicon-pro-eye-open"></i></a>&nbsp;
                        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_update', {slug: client.slug}) }}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
                        {% if client.campaigns|length>0 %}
                            <a href="#" onclick="alert('{{ 'montgolfiere.backoffice.clients.confirmation.client_delete_impossible'|trans({'%name%':client.corporateName})|e('js') }}');return false;"><i class="glyphicon glyphicon-trash"></i></a>
                        {% else %}
                            <a href="#" onclick="confirm('{{ 'montgolfiere.backoffice.clients.confirmation.client_delete'|trans({'%name%':client.corporateName})|e('js') }}') && $(this).siblings('form').submit(); return false;"><i class="glyphicon glyphicon-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
