{% set hasCollapsableTopPanel = false %}
{% set hasFooterPanel = false %}
{% extends '@AzimutMontgolfiereApp/Backoffice/base.html.twig' %}

{% block header %}
    <div class="left"><h3>{{ 'montgolfiere.backoffice.clients.create.header'|trans }}</h3></div>
    <div class="right">
        <a href="{{ path('azimut_montgolfiere_app_backoffice_clients_homepage') }}">
            <i class="glyphicon glyphicon-arrow-left"></i> {{ "montgolfiere.backoffice.clients.read.back_to_list"|trans }}
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="scrollable">
        <div class="margin-block">
            {% form_theme form "@AzimutMontgolfiereApp/Backoffice/form_style.html.twig" %}
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
