{#
# @author: Gerda Le Duc <gerda.leduc@azimut.net>
# date:   2014-05-27 14:59:20
#}

<ul>
    <li><a href="{{ path('azimut_security_dev_form_access_role') }}">access_role form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_access_right_class') }}">access_right_class form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_access_right_role') }}">access_right_role form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_access_right_app_role') }}">access_right_app_role form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_access_right_acl') }}">access_right_acl form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_access_right_object') }}">access_right_object form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_form_user_update') }}">user_update form demo</a></li>
    <li><a href="{{ path('azimut_security_dev_link_user_client') }}">link user client in server</a></li>
    <li><a href="{{ path('azimut_security_dev_unlink_user_client') }}">remove link user client in server</a></li>
    <li><a href="{{ path('azimut_security_dev_get_ar_app') }}">get possible access rights on applications</a></li>
</ul>
