{#
# @author: Yoann Le Crom <yoann.lecrom@abstractive.fr>
# date:    2019-02-26 10:08:40
#}

<p>{{ 'email.hello'|trans }},</p>

<p>{{ 'email.shop.order.payment.refused.at.%domain%'|trans({ '%domain%': domain }) }}.</p>

<p>{{ 'email.shop.order.number'|trans }}: <a href="{{ order.site.uri ~ path('azimut_shop_user_order_show', { 'orderNumber': order.number }) }}">{{ order.number }}</a>.</p>
