{% set siteLogoPath = asset('img/frontoffice/logo-workcare.png') %}
<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Workcare{% endblock %}</title>

    <link rel="preload" href="{{ asset('fonts/din/din-regular.ttf') }}" as="font" type="font/ttf" />

    {% if site.metaNoIndex or page is defined and page.metaNoIndex %}
        <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    {% if page is defined and page.pageType == 'alias' %}
        <link href="{{ path('azimut_frontoffice', {'path': page.pageContent.fullSlug}) }}" rel="canonical" />
    {% endif %}

    {% stylesheets filter='cssrewrite,assetdirectory' package='build' output='layout/css/workcare_client_area.css'
        '@slick_css'
        '@font_awesome_css'
        '@pivottable_css'
        '../app/Resources/css/ixa/fonts.css'
        '../app/Resources/css/ixa/forms.css'
        '../app/Resources/css/ixa/normalize.css'
        '../app/Resources/css/ixa/scaffolding.css'
        '../app/Resources/css/ixa/utilities.css'
        '../app/Resources/css/ixa/circular-chart.css'
        '../app/Resources/css/twitter-bootstrap/progress-bars.css'
        '../app/Resources/css/twitter-bootstrap/tooltip.css'
        '../app/Resources/css/ixa/components/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts package='build' output='layout/js/workcare_client_area.js'
        '@jquery_js'
        '@slick_js'
        '@papaparse_js'
        '@pivottable_js'
        '@d3_js'
        '@easeljs_js'
        '@fontfaceobserver'
        '../app/Resources/js/ixa/MainMenu.js'
        '../vendor/azimut/system-assets/twitter/bootstrap/js/transition.js'
        '../vendor/azimut/system-assets/twitter/bootstrap/js/collapse.js'
        '../vendor/azimut/system-assets/twitter/bootstrap/js/tooltip.js'
    %}
        <script src="{{ asset_url }}"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}?locales={{ app.request.locale }}"></script>
    {% endjavascripts %}
</head>
<body{% if _bodyClass is defined %} class="{{ _bodyClass }}"{% endif %}>
    <div class="MainContainer">
        <div class="MainMenu">
            <div class="MainMenu-logo">
                <img src="{{ asset('img/frontoffice/logo-workcare-blanc.png') }}" alt="Workcare"/>
            </div>
            <div class="MainMenu-btn"></div>
            <div class="MainMenu-list">
                {% block mainMenu %}
                    <a href="{{ path('azimut_frontoffice', {'path': 'espace-client'}) }}" class="MainMenu-list-item"><img src="{{ asset('img/frontoffice/dashboard.svg') }}" alt="Dashboard" class="MainMenu-list-item-icon" />  Tableau de bord</a>
                    {% if is_granted('ROLE_FRONT_USER') %}
                        <a href="{{ path('azimut_frontoffice', {'path': 'espace-client/campaign/'}) }}" class="MainMenu-list-item"><img src="{{ asset('img/frontoffice/clipboard-list.svg') }}" alt="Liste" class="MainMenu-list-item-icon" /> Campagnes</a>
                    {% endif %}
                    <a href="{{ path('azimut_frontoffice', {'path': 'medias'}) }}" class="MainMenu-list-item"><img src="{{ asset('img/frontoffice/folder-image.svg') }}" alt="Folder" class="MainMenu-list-item-icon"/> Médias</a>
                {% endblock %}
            </div>
        </div>
        <div class="MainBody">
            <header id="top" class="MainBody-header">
                {% block header %}
                    {% if app.user.clientContact.client is defined %}
                        <div>{{ app.user.clientContact.client.corporateName }}</div>
                        <img src="{{ path('azimut_montgolfiere_app_client_area_logo') }}" alt="{{ app.user.clientContact.client.corporateName }}" class="MainBody-header-logo" />
                        <a href="{{ path('azimut_frontofficesecurity_logout') }}" class="MainBody-header-user"><span class="fa fa-power-off"></span></a>
                    {% elseif is_granted('ROLE_FRONT_CONSULTANT') %}
                        <div>{{ app.user.firstName ~' '~ app.user.lastName }}</div>
                        <a href="{{ path('azimut_frontofficesecurity_logout') }}" class="MainBody-header-user"><span class="fa fa-power-off"></span></a>
                    {% else %}
                        <div>Espace client</div>
                        <a href="{{ path('azimut_frontofficesecurity_login') }}" class="MainBody-header-user"><span class="fa fa-user-circle"></span></a>
                    {% endif %}
                {% endblock %}
            </header>
            <div class="MainBody-content">
                {% block body %}
                    {% if campaign is defined %}
                        <h1 class="Title Title--1 Title-no-margin">Résultats de la campagne {{ campaign.name }}</h1>
                        <div class="text-center">
                            {% if campaign.endDate is null %}
                                Depuis le {{ campaign.startDate?campaign.startDate|localizeddate(timeFormat='none') }}
                            {% else %}
                                Du {{ campaign.startDate?campaign.startDate|localizeddate(timeFormat='none') }} au {{ campaign.endDate?campaign.endDate|localizeddate(timeFormat='none') }}
                            {% endif %}
                        </div>
                        <br>
                        <span class="pull-right">
                            <a href="{{ path('azimut_frontoffice', {'path': pageSlug(page)~'/campaign/'}) }}"><i class="fa fa-arrow-left"></i> Retour aux campagnes</a>
                        </span>
                        <div class="clearfix"></div>
                        <div class="MainMenu MainMenu--lightGrey MainMenu--line MainMenu--mobileRelative">
                            {% if selectedMenu is not defined %}
                                {% set selectedMenu = '' %}
                            {% endif %}
                            <div class="MainMenu-btn"></div>
                            <div class="MainMenu-list">
                                <a href="{{ path('azimut_frontoffice', {'path': pageSlug(page)~'/campaign/'~campaign.id}) }}" class="MainMenu-list-item {{ selectedMenu == 'participation' ? 'MainMenu-list-item--selected' : '' }}">Participations</a>
                                {% if is_granted('ROLE_FRONT_CONSULTANT') %}
                                    <a href="{{ path('azimut_frontoffice', {'path': pageSlug(page)~'/campaign/'~campaign.id ~'/cartography'}) }}" class="MainMenu-list-item {{ selectedMenu == 'cartography' ? 'MainMenu-list-item--selected' : '' }}">Cartographie</a>
                                {% endif %}
                                <a href="{{ path('azimut_frontoffice', {'path': pageSlug(page)~'/campaign/'~campaign.id ~'/house'}) }}" class="MainMenu-list-item {{ selectedMenu == 'house' ? 'MainMenu-list-item--selected' : '' }}">Maison Workcare</a>
                                <a href="{{ path('azimut_frontoffice', {'path': pageSlug(page)~'/campaign/'~campaign.id ~'/additional-questions'}) }}" class="MainMenu-list-item {{ selectedMenu == 'additional-questions' ? 'MainMenu-list-item--selected' : '' }}">Questions annexes</a>
                            </div>
                        </div>
                        <br>
                    {% endif %}
                    {% block bodyContent %}

                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#top-page').on('click', function(e){
                e.preventDefault();
                $('html, body').animate({scrollTop:0}, {duration: 500, easing: 'swing'});
            });
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {% block endjavascripts %}

    {% endblock %}
    <script async src="https://opentech-ux.org/lom-captor/dist/opentech-ux-lib.js" data-endpoint="https://workcare.ux-key.com/endpoint"></script>

</body>
</html>
