{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-02-10 15:06:21
#}

<section>
    <h2>{{ cmsFile.firstName }} {{ cmsFile.lastName }}</h2>
    {{ cmsFile.city }} - {{ cmsFile.country }}<br />

    <a href="{{ cmsFilePath }}">{{ 'read.more'|trans }}</a>
</section>
