{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2013-12-10 12:42:55
#}

{% verbatim %}
    <header class="header-bar">
        <div class="left">
            <div class="form-inline">
                <input type="search" class="form-control" ng-model="searchKeywords" placeholder="{% endverbatim %}{{ 'search.files'|trans|capitalize }}{% verbatim %}" />
            </div>
        </div>

        <div class="right">
            <span class="dropdown">
                <a href data-toggle="dropdown" role="button" id="fileCreateDropdown"><span class="glyphicon glyphicon-file"></span> <span class="glyphicon glyphicon-add glyphicon-plus-sign"></span>{% endverbatim %}{{ 'cms.file'|transchoice(1)|capitalize }}{% verbatim %} <b class="caret"></b></a>

                <ul aria-labelledby="fileCreateDropdown" role="menu" class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="availableFileType in availableFileTypes | orderBy: 'translatedName'">
                        <a href ui-sref="backoffice.cms.new_file({ cmsFileType: availableFileType.name })" >
                            <span class="glyphicon glyphicon-file"></span> {{ Translator.transChoice('cms.file.type.' +availableFileType.name, 1) }}
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </header>

    <section class="body scrollable-container">
        <div class="scrollable">
            <div class="table-responsive" ng-if="cmsFilesTemplateView == 'table'">
                <table class="table table-striped table-hover" ng-if="files.length>0">
                    <thead>
                        <tr>
                            <th class="icon-column"></th>
                            <th az-data-sort-link="filesSortDefinitionBuilder" az-data-sort-link-property="name">{% endverbatim %}{{ 'name'|trans|capitalize }}{% verbatim %}</th>
                            <th az-data-sort-link="filesSortDefinitionBuilder" az-data-sort-link-property="cmsFileType">{% endverbatim %}{{ 'type'|trans|capitalize }}{% verbatim %}</th>
                            <th az-data-sort-link="filesSortDefinitionBuilder" az-data-sort-link-property="publicationsCount">{% endverbatim %}{{ 'publications'|trans|capitalize }}{% verbatim %}</th>
                            <th class="icon-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="file in filteredFiles = (files | filter: {name: searchKeywords, cmsFileType: type}) | orderBy: natural(filesSortDefinitionBuilder.property):filesSortDefinitionBuilder.reverse"
                        >
                            <td class="icon-column" ng-class="{'outdated': false == file.isVisible}">
                                <span class="glyphicon glyphicon-file"></span>
                            </td>
                            <td ng-class="{'outdated': false == file.isVisible}">
                                <a href
                                    ng-click="openFile(file)"
                                    drag="file" drag-style="drag" drag-type="cmsfile"
                                >
                                    {{ file.getName(locale) }}
                                </a>
                            </td>
                            <td ng-class="{'outdated': false == file.isVisible}">
                                {{ Translator.transChoice('cms.file.type.' + file.cmsFileType, 1) }}
                            </td>
                            <td ng-class="{'outdated': false == file.isVisible}">
                                {{ file.publicationsCount }}
                            </td>
                            <td class="icon-column">
                                <a href ng-click="trashFile(file)"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        <tr ng-if="filteredFiles.length == 0">
                            <td class="icon-column">
                            </td>
                            <td colspan="3">
                                {% endverbatim %}{{ 'no.cmsfile.available'|trans|capitalize }}{% verbatim %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="summary-list margin-block" ng-if="cmsFilesTemplateView == 'summary'">
                <div
                    ng-repeat="file in files| filter:{name: searchKeywords, cmsFileType: type} | orderBy: natural(filesSortDefinitionBuilder.property):filesSortDefinitionBuilder.reverse "
                >
                    <div
                        class="content"
                        ng-click="openFile(file)"
                        drag="file" drag-style="drag" drag-type="cmsfile"
                    >
                        <h2>{{ file.getName(locale) }} <small>{{ Translator.transChoice('cms.file.type.' + file.cmsFileType, 1) }}</small></h2>

                        <img ng-if="file.thumb" ng-src="{{ Routing.generate('azimut_mediacenter_backoffice_file_proxy_thumb',{ filepath: file.thumb, size: 'sqxxs' }) }}" />

                        <p>{{ file.getAbstract(locale) }}</p>

                        <div class="clearfix"></div>
                    </div>

                    <div class="actions">
                        <a href ng-click="trashFile(file)"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>
            </div>

            <p class="data-not-found-message" ng-if="0 == files.length"><span class="glyphicon glyphicon-info-sign"></span> {% endverbatim %}{{ 'no.cmsfile.found'|trans|capitalize }}{% verbatim %}</p>
        </div>
    </section>

    <footer class="footer-bar footer-bar-sm">
        {% endverbatim %}
        {% if 'moderation' in active_backoffice_apps %}
        {% verbatim %}
            <div class="left" ng-if="waitingCmsFilesBufferCount > 0">
                <a ui-sref="backoffice.moderation.cms_file_buffer_list()">{% endverbatim %}{{ 'files.waiting.for.validation'|trans }}{% verbatim %} : {{ waitingCmsFilesBufferCount }}</a>
            </div>
        {% endverbatim %}
        {% endif %}
        {% verbatim %}

        <div class="right">
            <az-data-sort-menu ng-model="filesSortDefinitionBuilder"></az-data-sort-menu>

            <span class="separator"></span>

            <a href ng-click="setListView()"><span class="glyphicon glyphicon-list"></span></a>

            <a href ng-click="setSummaryView()"><span class="glyphicon glyphicon-th-list"></span></a>
        </div>
    </footer>
{% endverbatim %}
