{% extends ":Emails:base.html.twig" %}
{% block subject %}{{ 'montgolfiere.emails.password_reset.subject'|trans }}{% endblock %}
{% block body %}
    <p>{{ 'montgolfiere.emails.password_reset.greetings'|trans({'%firstname%': user.firstName, '%lastname%': user.lastName}) }}</p>
    <p>
        {{ 'montgolfiere.emails.password_reset.line1'|trans }}<br />
        {{ 'montgolfiere.emails.password_reset.line2'|trans }}
    </p>
    {% include ":Emails:btn.html.twig" with {url: url('azimut_frontofficesecurity_password_reset', {token: token}), label: 'montgolfiere.emails.password_reset.button_label'|trans} %}
    <p class="text-small gray">
        {{ 'montgolfiere.emails.password_reset.email_reason'|trans }}<br />
        {{ 'montgolfiere.emails.password_reset.email_reason_2'|trans }}<br />
        {{ 'montgolfiere.emails.password_reset.contact'|trans }} <a href="mailto:{{ reply_to }}">{{ reply_to }}</a>.
    </p>
{% endblock %}
