{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-02-24 12:15:17
#}

{% verbatim %}

    <header class="header-bar">

        <div class="left">
            <div class="form-inline">
                <input type="search" class="form-control" ng-model="searchKeywords" placeholder="{% endverbatim %}{{ 'search.sites'|trans|capitalize }}{% verbatim %}" />
            </div>
        </div>

        {% endverbatim %}
        {% if is_granted('SUPER_ADMIN') %}
            <div class="right">
                <a href ui-sref="backoffice.frontoffice.new_site"><span class="glyphicon glyphicon-globe"></span><span class="glyphicon glyphicon-add glyphicon-plus-sign"></span> {{ 'site'|trans|capitalize }}</a>
            </div>
        {% endif %}
        {% verbatim %}

    </header>

    <section class="body scrollable-container">
        <div class="scrollable">

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="icon-column"></th>
                            <th az-data-sort-link="sitesSortDefinitionBuilder" az-data-sort-link-property="name">{% endverbatim %}{{ 'name'|trans|capitalize }}{% verbatim %}</th>
                            <th>
                                {% endverbatim %}{{ 'main.domain.name'|trans|capitalize }}{% verbatim %}
                            </th>
                            <th class="icon-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="site in sites | filter:{name: searchKeywords} | orderBy: natural(sitesSortDefinitionBuilder.property):sitesSortDefinitionBuilder.reverse"
                        >
                            <td class="icon-column">
                                <span class="glyphicon glyphicon-globe"></span>
                            </td>
                            <td><a href ng-click="openSite(site)">{{ site.name }}</a></td>
                            <td>
                                {{ site.mainDomainName.name }}

                            </td>
                            <td class="icon-column">
                                <a href ng-click="deleteSite(site)" az-confirm-click="Translator.trans('site.%name%.confirm.permanent.delete', {name: site.name})"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </section>

    <footer class="footer-bar footer-bar-sm">
        <div class="right">
            <az-data-sort-menu ng-model="sitesSortDefinitionBuilder"></az-data-sort-menu>
        </div>
    </footer>
{% endverbatim %}
