{% extends "@AzimutMontgolfiereApp/Questionnaire/base.html.twig" %}
{% block title %}{{ 'montgolfiere.questionnaire.title'|trans }} - {{ campaign.name }}{% endblock %}
{% set bodyClass = "form-page" %}
{% block body %}
    <div class="congrats">
        <div class="left">
            <div class="image"></div>
            <div class="bg-primary bottom-logo">
                <img src="{{ asset('img/questionnaire/logo-white.svg') }}" alt="Logo Workcare" aria-hidden="true" />
            </div>
        </div>
        <div class="image hide-lg"></div>
        <div class="content">
            <h1>{{ 'montgolfiere.questionnaire.not_open'|trans }}</h1>
            <p>
                {{ 'montgolfiere.questionnaire.not_open_detail'|trans({"%name%": campaign.name, '%date%': campaign.startDate|date('d/m/Y à H\\hi')})|raw }}<br />
                {{ campaign.openingMessage[app.request.locale]|raw }}<br />
                {{ 'montgolfiere.questionnaire.not_open_text'|trans }}
            </p>
        </div>
    </div>

{% endblock %}
