{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-05-11 16:08:33
#}

{% extends siteLayout %}

{% block body %}
    {% if emailSent %}
        <p>{{ 'password.reset.email.sent'|trans }}</p>
    {% else %}
        {{ form_start(form, { 'attr': { 'action': path('azimut_frontofficesecurity_lost_password') } } ) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn-default btn">{{ 'continue'|trans }}</button>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
