{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-05-11 17:00:09
#}

{% extends siteLayout %}

{% block body %}
    {% if passwordReseted %}
        <p>{{ 'your.password.has.been.reseted'|trans }}</p>

        <a href="{{ path('azimut_frontofficesecurity_login') }}">{{ 'login'|trans }}</a>
    {% else %}
        {% if tokenFound %}
            {{ form_start(form, { 'attr': { 'action': path('azimut_frontofficesecurity_password_reset', {'token': token}) } } ) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" class="btn-default btn">{{ 'set.password'|trans }}</button>
                </div>
            {{ form_end(form) }}
        {% else %}
            <p>{{ 'password.reset.token.invalid'|trans }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
