{#
# @author: Yoann Le Crom <yoann.lecrom@abstractive.fr>
# date:    2018-11-09 14:35:54
#}

{% extends siteLayout %}
{% import ':Macro:shop_macro.html.twig' as shop %}

{% block body %}
    {% include "SiteLayout/shop_order_steps.html.twig" with { 'step': 'summary' } %}

    <h1>{{ 'summary'|trans }}</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>{{ 'delivery.address'|trans }}</h2>
            {{ shop.orderAddress(basket.deliveryAddress) }}
        </div>
        <div class="col-md-6">
            <h2>{{ 'billing.address'|trans }}</h2>
            {{ shop.orderAddress(basket.billingAddress) }}
        </div>
    </div>

    <h2>{{ 'order'|trans }}</h2>
    {% include 'SiteLayout/shop_order_products_list.html.twig' with {
        order: basket,
        containerClass: 'table-responsive table-bordered',
        tableClass: 'table table-striped table-hover',
    } %}

    <h2>{{ 'payment.method'|trans }}</h2>
    {{ render(controller('AzimutShopBundle:Payment:choosePayment', {'request': app.request, 'isEmbed': true})) }}
{% endblock %}
