{#
# @author: Yoann Le Crom <yoann.lecrom@gmail.com>
# date:    2017-05-10 09:48:27
#}

{% if site.hasUserLogin %}
    <div class="dropdown hidden-sm-max">
        <a href id="userInfo" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
        </a>

        <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userInfo">
            {% if app.user is not null %}
                <a href="{{ path('azimut_frontofficesecurity_edit_profile') }}">{{ app.user.username }}</a><br />
                {% if site.hasShop %}
                    <a href="{{ path('azimut_shop_user_order_index') }}">{{ 'your.orders'|trans }}</a><br />
                {% endif %}
                <a href="{{ path('azimut_frontofficesecurity_change_password') }}">{{ 'change_password'|trans }}</a><br />
                <a href="{{ path('azimut_frontofficesecurity_logout') }}"><span class="glyphicon glyphicon-off"></span> {{ 'logout'|trans }}</a>
            {% else %}
                <a href="{{ path('azimut_frontofficesecurity_login') }}">{{ 'login'|trans }}</a><br />
                <a href="{{ path('azimut_frontofficesecurity_register') }}">{{ 'register'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endif %}
