{#
# @author: Yoann Le Crom <yoann.lecrom@azimut.net>
# date:   2014-10-01 13:30:22
#}

{% import ':Macro:shop_macro.html.twig' as shop %}

<section itemscope itemtype="http://schema.org/Product">
    <h1 itemprop="name">{{ cmsFile.title }}</h1>
    <h2>{{ cmsFile.subtitle }}</h2>

    {% if cmsFile.mainAttachment != null %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': cmsFile.mainAttachment,
            'mediaSize': 'm',
            'width': '500px',
            'height': '',
            'class': 'img-thumbnail',
            'displayCaption': true,
            'isItemprop': true
        } %}
    {% endif %}

    {% if cmsFile.complementaryAttachment1 != null %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': cmsFile.complementaryAttachment1,
            'width': '300px',
            'height': '168px'
        } %}
    {% endif %}
    {% if cmsFile.complementaryAttachment2 != null %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': cmsFile.complementaryAttachment2,
            'width': '300px',
            'height': '168px'
        } %}
    {% endif %}
    {% if cmsFile.complementaryAttachment3 != null %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': cmsFile.complementaryAttachment3,
            'width': '300px',
            'height': '168px'
        } %}
    {% endif %}
    {% if cmsFile.complementaryAttachment4 != null %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': cmsFile.complementaryAttachment4,
            'width': '300px',
            'height': '168px'
        } %}
    {% endif %}

    <div itemprop="description">{{ cmsFile.text|render_media_declination_tags|raw }}</div>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="EUR" />
        <meta itemprop="price" content="{{ cmsFile.price }}">
        <strong>{% if cmsFile.price is not null %}{{ cmsFile.price|az_shop_price }}{% endif %}</strong>
    </div>

    <div class="clearfix"></div>

    {% if cmsFile.secondaryAttachments|length > 0 %}
        {%for attachment in cmsFile.secondaryAttachments %}
        {% include 'CmsFileLayout/media_attachment.html.twig' with {
            'attachment': attachment,
            'width': '150px',
            'height': '84px'
        } %}{% endfor %}
        <div class="clearfix"></div>
    {% endif %}

    <br />

    {% for productItem in cmsFile.productItems %}
        <strong>{{ productItem.name }}</strong><br />
        {% if '' != productItem.text %}<p>{{ productItem.text }}</p>{% endif %}
        {% if productItem.price is not null %}{{ productItem.price|az_shop_price }}<br />{% endif %}
        {{ shop.addToBasketBtn(site, productItem.class, productItem.id) }}
        {% if not loop.last %}
            <br />
        {% endif %}
    {% endfor %}

    <meta itemprop="url" content="{{ absolute_url(path('azimut_frontoffice', {'path': page.fullSlug})) }}{{ cmsFile.slug }}" />

    <div class="clearfix"></div>

    {% include 'CmsFileLayout/comments.html.twig' %}
</section>

{% if cmsFile.associatedProducts|length > 0 %}
    <h3>{{ 'associated.products'|trans|capitalize }}</h3>
    {% for associatedProduct in cmsFile.associatedProducts %}
        {{ associatedProduct }}<br />
    {% endfor %}
{% endif %}

<div class="clearfix"></div>

<br />

<p class="text-center"><a href="./">{{ 'page.up'|trans }}</a></p>


{% include 'CmsFileLayout/popin_product_item_added_to_basket.html.twig' %}
